---
title: I Don't Remember Chess Games
date: 2026-07-28
author: Ewan
---

<svelte:head>
	<title>{title} - ewan wrote</title>
	<meta name="description" content={title} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={title} />
	<meta property="og:type" content="article" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={title} />
</svelte:head>

# {title} by {author}

I have a few hobbies and among them, chess is what I spend the most time on. Recently, I started playing a lot again and finally hit 1200 on my Chess.com account. I noticed something quite peculiar, and that is I don't remember my games.

*Edit: a few hours after publishing, I hit 1300.*

I pride myself on having a decent memory and remember way too many little things if I'm being honest. However, I often cannot recall even the most embarrassing blunders I make in games I play. Well, I do remember to some extent, hence why I've added about 300 to my rating in the past month.

With chess, once I realise I've made too many blunders compared to my opponent, I often just resign (if I'm well ahead on time, I keep going though). I resign and I start another game almost immediately. I might go "I shouldn't have left that piece hanging", but it's no issue, I'd have forgotten a few more games later. Compared to how I would treat blunders in real life, I move on, try again, and I keep going. I made a mistake and there's nothing I can do about it.

I know real life has real stakes and I admit it's completely okay for blunders in my day to day to hurt as much as they do. Perhaps moving on with chess is easier because I'm actively trying to hit a goal (the next +100 rating), and with each game I know I'm giving myself a shot at said goal. Each chess game starts from the same position and almost never ends the same way, and I think I should draw parallels with real-life by giving myself room to make mistakes, accept my losses and simply start over.
